<main class="max-w-6xl mx-auto h-[calc(100vh - 50px)] p-10">
  <div class="text-center my-8 md:my-14 max-w-3xl mx-auto">
    <h2 class="text-primary text-2xl md:text-3xl font-semibold mb-4">Our Services</h2>
    <p class="text-base md:text-lg text-gray-600">
      We provide comprehensive solutions tailored to your business needs
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    @for (service of serviceLists; track $index) {
      <div
        class="bg-white p-6 rounded-lg shadow-md shadow-primary/5 border border-primary/10 hover:shadow-lg transition-shadow">
        <div class="text-primary text-4xl mb-4">{{ service.icon }}</div>
        <h3 class="text-xl font-medium mb-2">{{ service.title }}</h3>
        <p class="text-gray-600">{{ service.description }}</p>
      </div>
    }
  </div>
</main>
