<nav class="fixed top-0 left-0 w-full bg-white shadow-sm shadow-primary/5 z-50">
  <div class="flex max-w-7xl mx-auto py-3 justify-between items-center">

    <div class="nav-brand flex items-center cursor-pointer" (click)="handleNavClick('/')">
      <div class="relative w-40 h-[40px]">
        <img ngSrc="quecksilberIcon.png" alt="Logo"  fill placeholder="data:image/png;base64,iVBORw0K..." priority  />
      </div>      
    </div>

    <!-- Hamburger Menu for Mobile -->
    <button type="button" class="lg:hidden flex flex-col justify-center items-center" (click)="setIsOpen()">
      <span
        [class]="`block w-6 h-0.5 bg-gray-600 mb-1 transition-transform ${isOpen ? 'rotate-45 translate-y-1.5' : ''}`">
      </span>
      <span [class]="`block w-6 h-0.5 bg-gray-600 mb-1 ${isOpen ? 'opacity-0' : ''}`"></span>
      <span
        [class]="`block w-6 h-0.5 bg-gray-600 transition-transform ${isOpen ? '-rotate-45 -translate-y-1.5' : ''}`"></span>
    </button>

    <!-- Navigation Links -->
    <div
      [class]="`lg:flex gap-4 ${ isOpen ? 'flex flex-col absolute top-[100%] left-0 w-full bg-white p-4 shadow-md border border-b items-center h-80' : 'hidden' }`">
      @for (item of navItems; track item.name) {
      <div class="py-[0.3rem] px-1 cursor-pointer hover:text-primary" routerLinkActive="text-primary"
        [routerLink]="item.path" (click)="isOpen = false">
        {{ item.name }}
      </div>
      }
    </div>
  </div>
</nav>