<footer class="w-full bg-primary/90 py-4 space-y-4">
  <div class="flex flex-col md:flex-row items-center justify-between gap-4 max-w-7xl mx-auto">
    <div class="text-gray-50 text-sm text-center md:text-left">
      &copy; 2025 Quecksilber Technologies. All rights reserved.
    </div>
    <div class="flex items-center justify-center gap-4">
      @for (socialLink of socialLinks(); track $index) {
      <a
        target="_blank"
        rel="noopener"
        class="text-primary-50 hover:text-primary-200 transition"
        [href]="socialLink.url"
        [attr.aria-label]="socialLink.ariaLabel">
        @switch (socialLink.name) { @case ("LinkedIn") {
        <qs-linkedin class="w-5 h-5 text-white" />
        } @case ("Twitter") {
        <qs-twitter class="w-5 h-5 text-white" />
        } @case ("Instagram") {
        <qs-instagram class="w-5 h-5 text-white" />
        } @case ("Threads") {
        <qs-threads class="w-5 h-5 text-white" />
        } }
      </a>
      }
    </div>
    <div class="flex space-x-4 text-sm">
      <a href="/privacy" class="text-gray-50 hover:underline">Privacy Policy</a>
      <a href="/terms" class="text-gray-50 hover:underline">Terms of Service</a>
    </div>
  </div>
</footer>
