<qs-page-header pageTitle="Portfolio"
  pageDescription="Mere recent projects yahaan listed hain. Har ek ka apna unique focus aur solution hai." />

<div class="flex flex-wrap justify-center gap-3 mb-8">
  @for (cat of categories; track $index) {
  <p-button variant="outlined" size="small" [severity]="activeFilter === cat.value ? 'primary' : 'secondary'"
    (click)="handleFilterChange(cat.value)">
    {{ cat.label }}
  </p-button>
  }
</div>

<!-- Portfolio Items -->
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
  @for (item of filteredItems; track $index) {
  <p-card class="p-0 rounded-md" (click)="handleItemClick(item)">
    <div class="relative w-full h-44 rounded-md overflow-hidden">
      <img class="object-cover rounded-lg" placeholder="data:image/png;base64,iVBORw0K..."
       ngSrc="img/about.jpg" fill priority [alt]="item.title" /> 
    </div>
 
    <div class="py-3 text-center">
      @if(item.title) { @if(item.title) {
      <h4 class="font-medium">{{ item.title }}</h4>
      } }
      <p class="text-gray-500">Category: {{ item.category }}</p>
    </div>
  </p-card>
  }
</div>