<qs-page-header pageTitle="Portfolio"
  pageDescription="Mere recent projects yahaan listed hain. Har ek ka apna unique focus aur solution hai." />

<div class="flex flex-wrap justify-center gap-3 mb-8">
  @for (cat of categories; track $index) {
  <p-button variant="outlined" [severity]="activeFilter === cat.value ? 'primary' : 'secondary'" size="small"
    (click)="handleFilterChange(cat.value)">
    {{ cat.label }}
  </p-button>
  }
</div>

<!-- Portfolio Items -->
<div class="grid md:grid-cols-3 gap-6">
  @for (item of filteredItems; track $index) {
  <p-card class="p-0" (click)="handleItemClick(item)">
    <img src="img/about.jpg" [alt]="item.title" class="rounded" loading="lazy" />
    <div class="py-4 text-center">
      @if(item.title) { @if(item.title) {
      <h4 class="font-medium">{{ item.title }}</h4>
      } }
      <p class="text-gray-500">Category: {{ item.category }}</p>
    </div>
  </p-card>
  }
</div>