@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tailwindcss */
@import 'tailwindcss';
/* @import "primeicons/primeicons.css"; */
@plugin "tailwindcss-primeui";

/* dark mode configuration */
@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 14px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  /* width: 100%;
  height: 100%; */
  @apply bg-purple-50;
}

:root {
  --theme-primary: #6d1bab;
  --theme-primary-light: #faf2ff;
  --theme-background: #f7f8fa;

  /* Route progressbar */
  --ng-progress-color: #9f4cde;
  --ng-progress-thickness: 4;
}
