@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tailwindcss */
@import 'tailwindcss';
/* @import "primeicons/primeicons.css"; */
@plugin "tailwindcss-primeui";

/* dark mode configuration */
@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 14px;
}

html,
body {
  font-family: 'Inter', sans-serif;
  /* width: 100%;
  height: 100%; */
  @apply bg-purple-50;
}

:root {
  --theme-primary: #6d1bab;
  --theme-primary-light: #faf2ff;
  --theme-background: #f7f8fa;

  /* Route progressbar */
  --ng-progress-color: #9f4cde;
  --ng-progress-thickness: 4;

  /* PrimeNg */
  --p-message-text-sm-font-size: 0.92rem !important;

  /* --p-inputtext-border-radius: 0.3rem !important;
  --p-textarea-border-radius: 0.3rem !important;
  --p-select-border-radius: 0.3rem !important; */

  --p-inputtext-focus-ring-width: 1px !important;
  --p-inputtext-focus-ring-style: solid !important;
  --p-inputtext-focus-ring-color: var(--p-primary-color) !important;

  --p-select-focus-ring-width: 1px !important;
  --p-select-focus-ring-style: solid !important;
  --p-select-focus-ring-color: var(--p-primary-color) !important;

  --p-textarea-focus-ring-width: 1px !important;
  --p-textarea-focus-ring-style: solid !important;
  --p-textarea-focus-ring-color: var(--p-primary-color) !important;

  /* --p-button-border-radius: 0.4rem !important; */
  --p-card-border-radius: 0.8rem !important;
  /* --p-card-body-padding: 0.6rem !important; */
  /* --p-card-shadow: 0 !important; */
}

.work-card {
  --p-card-body-padding: 0rem !important;
}
